
.settings {
  width: 90vw;
  height: 90vh; 
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-34.5%, -87.9%);
  background-color: rgb(17, 17, 17);
  padding: 40px;
  box-sizing: border-box;
  z-index: 100;
  border-radius: 15px;

  h2{
    font-size: 40px;
  }

  .return{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    outline: none;
    bottom: 0;
    width: 50px;
    margin-bottom: 40px;
  }
}
