.chatList {
    flex: 1;
    overflow-y: scroll;
    padding: 15px;

    h2{
        padding: 5px;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .search{
        display: flex;
        align-items: center;
        gap: 20px;

        .searchBar {
            flex: 1;
            display: flex;
            background-color: rgba(34, 34, 34, 0.816);
            align-items: center;
            border-radius: 10px;
            gap: 20px;
            padding: 10px;

            img {
                width: 20px;
                height: 20px;
            }

            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }
        }

        .add{
            background-color: rgba(34, 34, 34, 0.816);
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            height: 40px;
            width: 40px;
            font-size: 20px;
        }
    }

    .items {
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding: 20px;
        gap: 20px;
        border-bottom: 1px solid rgb(52, 52, 52);
        border-radius: 10px 10px 0 0;

        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 5px;

            span{
                font-size: 20px;
                font-weight: 600;
            }

            p {
                font-size: 15px;
                font-weight: 400;
                color: rgb(144, 144, 144);
            }
        }
    }
}

.chatList::-webkit-scrollbar{
    width: 10px;
}

.chatList::-webkit-scrollbar-track{
    background-color: transparent;
}

.chatList::-webkit-scrollbar-thumb{
    background-color: rgba(34, 34, 34, 0.816);
    border-radius: 10px;
}